---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import aboutImage from "../assets/images/pablo-coding.webp";
import theCocktailLogo from "../assets/images/the-cocktail-logo.webp";
import celestiaTTILogo from "../assets/images/celestia-tti-logo.avif";
import deptLogo from "../assets/images/dept-logo.webp";
---

<Layout>
  <section class="relative z-20 mx-auto my-12 max-w-4xl px-7 lg:px-0">
    <div class="relative z-20 mx-auto w-full lg:mx-0">
      <h2
        class="text-2xl font-bold tracking-tight text-neutral-900 sm:text-3xl lg:text-4xl dark:text-neutral-100"
      >
        Sobre mí
      </h2>
      <p
        class="mt-3 text-sm leading-6 text-neutral-600 sm:mt-4 sm:text-base sm:leading-7 lg:mt-6 lg:text-lg lg:leading-8 dark:text-neutral-400"
      >
      </p>
    </div>
    <div
      class="my-10 grid grid-cols-1 items-start gap-8 lg:grid-cols-2 lg:gap-12"
    >
      <p
        class="mt-0 text-base leading-7 text-gray-900 sm:text-lg sm:leading-8 lg:text-xl lg:leading-9 dark:text-neutral-200"
      >
        Soy desarrollador software especializado en crear aplicaciones web que
        combinan rendimiento, diseño y facilidad de uso. Mi experiencia abarca
        tanto el desarrollo mediante frameworks como nativo, lo que me permite
        adaptarme al tipo de proyecto y elegir siempre la mejor solución para
        cada necesidad.
      </p>
      <div class="relative">
        <Image
          src={aboutImage}
          class="relative z-30 w-full rounded-xl shadow-lg transition-shadow duration-300 hover:shadow-xl"
          alt="Pablo programando en su estudio"
        />
      </div>
    </div>
    <div class="mb-12 space-y-6">
      <p
        class="text-base leading-7 text-gray-900 sm:text-lg sm:leading-8 lg:text-xl lg:leading-9 dark:text-neutral-200"
      >
        He trabajado en todas las fases del desarrollo: desde la idea inicial
        hasta su puesta en producción. Esto me ayuda a cuidar cada detalle y
        asegurar que el resultado final sea estable, escalable y fácil de
        mantener en el tiempo.
      </p>
      <p
        class="text-base leading-7 text-gray-900 sm:text-lg sm:leading-8 lg:text-xl lg:leading-9 dark:text-neutral-200"
      >
        Me gusta aplicar buenas prácticas que reducen los errores y garantizan
        que los productos funcionen de manera fluida y fiable. Además, me
        mantengo en constante aprendizaje para seguir mejorando y ofrecer
        productos digitales que realmente aporten valor a quienes los utilizan.
      </p>
    </div>
    <h2
      class="mt-12 mb-6 text-2xl font-bold sm:mt-10 lg:mt-14 dark:text-neutral-200"
    >
      Experiencia
    </h2>
    <div class="px-4 py-8" id="experience-container">
      <div
        class="experience-item translate-x-8 border-l-2 border-gray-300 pb-10 opacity-0 last:border-l-0 dark:border-neutral-600"
      >
        <div class="relative flex flex-col justify-start pl-12">
          <div
            class="absolute top-0 left-0 z-40 flex h-14 w-14 -translate-x-1/2 items-center justify-center rounded-full border-2 border-blue-200 bg-white p-1.5 shadow-md dark:border-blue-800 dark:bg-neutral-950"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="115"
              height="30"
              viewBox="0 0 115 30"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M106.302 29.8582C104.058 29.8582 102.101 29.3227 100.431 28.251C98.7854 27.1544 97.6642 25.6873 97.0655 23.8506L97.1016 23.8329C96.6637 22.7024 97.1502 21.4012 98.2362 20.8706C99.3684 20.3174 100.724 20.8102 101.263 21.9721L101.238 21.9842C101.755 23.0479 102.446 23.8869 103.31 24.5012C104.207 25.1389 105.205 25.4578 106.301 25.4578C107.099 25.4578 107.709 25.2919 108.133 24.9602C108.557 24.6285 108.769 24.1695 108.769 23.5825C108.769 23.2765 108.694 23.0213 108.544 22.8176C108.394 22.5881 108.17 22.3836 107.871 22.2056C107.572 22.0269 107.198 21.8739 106.749 21.7467L103.271 20.7514C101.601 20.2667 100.317 19.4889 99.4195 18.4172C98.5218 17.3205 98.073 16.0322 98.073 14.5522C98.073 13.251 98.397 12.1165 99.0452 11.1471C99.6933 10.1776 100.603 9.42554 101.775 8.88928C102.946 8.32806 104.293 8.04785 105.814 8.04785C107.808 8.04785 109.553 8.53258 111.049 9.50204C112.57 10.4457 113.641 11.7848 114.264 13.52L114.254 13.5248C114.754 14.6867 114.259 16.0515 113.132 16.5934C112.004 17.1353 110.664 16.6498 110.114 15.5096H110.114C110.114 15.5096 110.112 15.5048 110.11 15.5016C110.105 15.4895 110.099 15.4774 110.093 15.4645L110.097 15.4629C109.794 14.6174 109.251 13.9443 108.468 13.4435C107.695 12.908 106.81 12.6399 105.814 12.6399C105.091 12.6399 104.517 12.7929 104.094 13.0988C103.695 13.4048 103.496 13.8259 103.496 14.3614C103.496 14.6424 103.57 14.8969 103.72 15.1263C103.87 15.3558 104.106 15.5603 104.43 15.7383C104.779 15.917 105.203 16.0829 105.701 16.2359L108.955 17.2311C110.649 17.7416 111.946 18.5194 112.843 19.5654C113.741 20.5856 114.19 21.8481 114.19 23.3538C114.19 24.655 113.853 25.7895 113.18 26.759C112.532 27.7285 111.622 28.4934 110.45 29.0546C109.279 29.5901 107.895 29.8582 106.299 29.8582H106.302Z"
                fill="white"></path>
              <path
                d="M84.3755 29.9974C82.351 29.9974 80.5016 29.5232 78.8279 28.5738C77.1786 27.6253 75.8541 26.3297 74.8544 24.6888C73.8799 23.022 73.3926 21.137 73.3926 19.0339C73.3926 16.9307 73.8799 15.0208 74.8544 13.379C75.8541 11.738 77.1786 10.4424 78.8279 9.4939C80.5024 8.54538 82.3518 8.07031 84.3755 8.07031C86.3991 8.07031 88.2368 8.54457 89.8861 9.4939C91.5355 10.4424 92.8474 11.738 93.822 13.379C94.8216 15.02 95.3214 16.9049 95.3214 19.0339C95.3214 21.1628 94.8216 23.0212 93.822 24.6888C92.8474 26.3297 91.5355 27.6253 89.8861 28.5738C88.2368 29.5224 86.3999 29.9974 84.3755 29.9974ZM84.3755 24.8047C85.4002 24.8047 86.2869 24.5607 87.037 24.0736C87.8115 23.5864 88.4117 22.9069 88.8362 22.0348C89.2859 21.1628 89.5111 20.1627 89.5111 19.0347C89.5111 17.9066 89.2859 16.9194 88.8362 16.0724C88.4117 15.2003 87.8115 14.5207 87.037 14.0336C86.2877 13.5207 85.4002 13.2646 84.3755 13.2646C83.3507 13.2646 82.4515 13.5207 81.6762 14.0336C80.9018 14.5207 80.289 15.2003 79.8393 16.0724C79.4148 16.9186 79.2022 17.9058 79.2022 19.0347C79.2022 20.1636 79.4148 21.1636 79.8393 22.0348C80.289 22.9069 80.9018 23.5864 81.6762 24.0736C82.4507 24.5607 83.3507 24.8047 84.3755 24.8047Z"
                fill="white"></path>
              <path
                d="M84.3755 29.9974C82.351 29.9974 80.5016 29.5232 78.8279 28.5738C77.1786 27.6253 75.8541 26.3297 74.8544 24.6888C73.8799 23.022 73.3926 21.137 73.3926 19.0339C73.3926 16.9307 73.8799 15.0208 74.8544 13.379C75.8541 11.738 77.1786 10.4424 78.8279 9.4939C80.5024 8.54538 82.3518 8.07031 84.3755 8.07031C86.3991 8.07031 88.2368 8.54457 89.8861 9.4939C91.5355 10.4424 92.8474 11.738 93.822 13.379C94.8216 15.02 95.3214 16.9049 95.3214 19.0339C95.3214 21.1628 94.8216 23.0212 93.822 24.6888C92.8474 26.3297 91.5355 27.6253 89.8861 28.5738C88.2368 29.5224 86.3999 29.9974 84.3755 29.9974ZM84.3755 24.8047C85.4002 24.8047 86.2869 24.5607 87.037 24.0736C87.8115 23.5864 88.4117 22.9069 88.8362 22.0348C89.2859 21.1628 89.5111 20.1627 89.5111 19.0347C89.5111 17.9066 89.2859 16.9194 88.8362 16.0724C88.4117 15.2003 87.8115 14.5207 87.037 14.0336C86.2877 13.5207 85.4002 13.2646 84.3755 13.2646C83.3507 13.2646 82.4515 13.5207 81.6762 14.0336C80.9018 14.5207 80.289 15.2003 79.8393 16.0724C79.4148 16.9186 79.2022 17.9058 79.2022 19.0347C79.2022 20.1636 79.4148 21.1636 79.8393 22.0348C80.289 22.9069 80.9018 23.5864 81.6762 24.0736C82.4507 24.5607 83.3507 24.8047 84.3755 24.8047Z"
                fill="white"></path>
              <path
                d="M79.3463 5.29221C77.9339 5.29221 76.7891 4.11743 76.7891 2.66808C76.7891 1.21873 77.9339 0.0439453 79.3463 0.0439453H89.3209C90.7332 0.0439453 91.8781 1.21873 91.8781 2.66808C91.8781 4.11743 90.7332 5.29221 89.3209 5.29221H79.3463Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M65.0371 17.8296V26.913C65.0371 28.5202 63.7676 29.8222 62.2022 29.8222C60.6368 29.8222 59.3672 28.5194 59.3672 26.913V10.9492C59.3672 9.34204 60.6368 8.04004 62.2022 8.04004C63.2246 8.04004 64.1207 8.59562 64.6197 9.4282C64.6236 9.42578 64.6268 9.42417 64.6307 9.42176C66.0996 8.58596 67.8282 8.12942 69.5976 8.05212C69.676 8.04407 69.7553 8.04084 69.8353 8.04084C69.8651 8.04084 69.895 8.04084 69.924 8.04245C69.9962 8.04084 70.0684 8.04084 70.1406 8.04084V8.06017C71.3615 8.21477 72.307 9.28246 72.307 10.5772C72.307 11.9783 71.2006 13.1136 69.8353 13.1136C69.7639 13.1136 69.6933 13.1104 69.6235 13.1047C68.8051 13.1764 68.0047 13.4179 67.3856 13.8286C66.6363 14.3012 66.0446 14.9615 65.6092 15.8078C65.3086 16.4084 65.118 17.0832 65.0371 17.8304V17.8296Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M65.0371 17.8296V26.913C65.0371 28.5202 63.7676 29.8222 62.2022 29.8222C60.6368 29.8222 59.3672 28.5194 59.3672 26.913V10.9492C59.3672 9.34204 60.6368 8.04004 62.2022 8.04004C63.2246 8.04004 64.1207 8.59562 64.6197 9.4282C64.6236 9.42578 64.6268 9.42417 64.6307 9.42176C66.0996 8.58596 67.8282 8.12942 69.5976 8.05212C69.676 8.04407 69.7553 8.04084 69.8353 8.04084C69.8651 8.04084 69.895 8.04084 69.924 8.04245C69.9962 8.04084 70.0684 8.04084 70.1406 8.04084V8.06017C71.3615 8.21477 72.307 9.28246 72.307 10.5772C72.307 11.9783 71.2006 13.1136 69.8353 13.1136C69.7639 13.1136 69.6933 13.1104 69.6235 13.1047C68.8051 13.1764 68.0047 13.4179 67.3856 13.8286C66.6363 14.3012 66.0446 14.9615 65.6092 15.8078C65.3086 16.4084 65.118 17.0832 65.0371 17.8304V17.8296Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M41.1088 9.44312C39.4343 8.4946 37.5849 8.01953 35.5612 8.01953C33.5376 8.01953 31.6999 8.49379 30.0506 9.44312C28.4012 10.3916 27.0893 11.6872 26.1147 13.3282C25.1151 14.9949 24.6152 16.8799 24.6152 18.9831C24.6152 21.0863 25.1151 22.9962 26.1147 24.638C27.0893 26.279 28.4012 27.5745 30.0506 28.5231C31.6999 29.4716 33.5368 29.9466 35.5612 29.9466C37.5857 29.9466 39.4351 29.4724 41.1088 28.5231C41.1739 28.4852 41.239 28.4474 41.3041 28.4087C41.8001 29.2566 42.704 29.8234 43.7374 29.8234C45.3036 29.8234 46.5724 28.5206 46.5724 26.9143V10.9504C46.5724 9.34327 45.3028 8.04127 43.7374 8.04127C42.6734 8.04127 41.7459 8.64275 41.261 9.5333C41.2108 9.50351 41.1598 9.47372 41.1096 9.44473L41.1088 9.44312ZM32.8997 13.9434C33.6498 13.4562 34.5365 13.2122 35.5612 13.2122C36.586 13.2122 37.4852 13.4562 38.2605 13.9434C39.0349 14.4305 39.6477 15.1101 40.0973 15.9821C40.5218 16.8541 40.7345 17.8542 40.7345 18.9823C40.7345 20.1104 40.5218 21.0975 40.0973 21.9446C39.6477 22.8166 39.0349 23.4962 38.2605 23.9834C37.486 24.4963 36.586 24.7523 35.5612 24.7523C34.5365 24.7523 33.6498 24.4963 32.8997 23.9834C32.1252 23.4962 31.5249 22.8166 31.1004 21.9446C30.6508 21.0983 30.4256 20.1112 30.4256 18.9823C30.4256 17.8534 30.6508 16.8541 31.1004 15.9821C31.5249 15.1101 32.1252 14.4305 32.8997 13.9434Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M41.1088 9.44312C39.4343 8.4946 37.5849 8.01953 35.5612 8.01953C33.5376 8.01953 31.6999 8.49379 30.0506 9.44312C28.4012 10.3916 27.0893 11.6872 26.1147 13.3282C25.1151 14.9949 24.6152 16.8799 24.6152 18.9831C24.6152 21.0863 25.1151 22.9962 26.1147 24.638C27.0893 26.279 28.4012 27.5745 30.0506 28.5231C31.6999 29.4716 33.5368 29.9466 35.5612 29.9466C37.5857 29.9466 39.4351 29.4724 41.1088 28.5231C41.1739 28.4852 41.239 28.4474 41.3041 28.4087C41.8001 29.2566 42.704 29.8234 43.7374 29.8234C45.3036 29.8234 46.5724 28.5206 46.5724 26.9143V10.9504C46.5724 9.34327 45.3028 8.04127 43.7374 8.04127C42.6734 8.04127 41.7459 8.64275 41.261 9.5333C41.2108 9.50351 41.1598 9.47372 41.1096 9.44473L41.1088 9.44312ZM32.8997 13.9434C33.6498 13.4562 34.5365 13.2122 35.5612 13.2122C36.586 13.2122 37.4852 13.4562 38.2605 13.9434C39.0349 14.4305 39.6477 15.1101 40.0973 15.9821C40.5218 16.8541 40.7345 17.8542 40.7345 18.9823C40.7345 20.1104 40.5218 21.0975 40.0973 21.9446C39.6477 22.8166 39.0349 23.4962 38.2605 23.9834C37.486 24.4963 36.586 24.7523 35.5612 24.7523C34.5365 24.7523 33.6498 24.4963 32.8997 23.9834C32.1252 23.4962 31.5249 22.8166 31.1004 21.9446C30.6508 21.0983 30.4256 20.1112 30.4256 18.9823C30.4256 17.8534 30.6508 16.8541 31.1004 15.9821C31.5249 15.1101 32.1252 14.4305 32.8997 13.9434Z"
                fill="white"></path>
              <path
                d="M55.877 26.913C55.877 28.5202 54.6074 29.8222 53.042 29.8222C51.4766 29.8222 50.207 28.5194 50.207 26.913V10.9492C50.207 9.34204 51.4766 8.04004 53.042 8.04004C54.6082 8.04004 55.877 9.34285 55.877 10.9492V26.913Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.30214 0.0429688C1.73988 0.0429688 0.472656 1.34336 0.472656 2.94651V26.947C0.472656 28.5501 1.7391 29.8505 3.30214 29.8505C4.86518 29.8505 6.13162 28.5509 6.13162 26.947V2.94651C6.13162 1.34336 4.86518 0.0429688 3.30214 0.0429688ZM7.83355 14.4069C7.83511 14.5486 7.83668 14.6975 7.83668 14.8537C7.83668 14.9673 7.83668 15.0784 7.83511 15.1863C7.82884 16.3232 7.82413 17.2178 8.53111 17.9433L19.3374 29.0324C20.4422 30.1662 22.2336 30.1662 23.3384 29.0324C24.4432 27.8987 24.4432 26.0605 23.3384 24.9268L16.6327 17.9723C15.2148 16.502 14.5063 15.7668 14.511 14.8586C14.5157 13.9503 15.2321 13.2224 16.6649 11.7682L23.3023 5.02955C24.4071 3.89583 24.4071 2.05757 23.3023 0.923853C22.1975 -0.209863 20.4061 -0.209863 19.3013 0.923853L8.50914 11.9985C7.81314 12.7127 7.82099 13.3851 7.83355 14.4069Z"
                fill="white"></path>
            </svg>
          </div>
          <p
            class="mb-1.5 text-xs font-semibold tracking-wider text-neutral-500 uppercase dark:text-neutral-400"
          >
            Marzo 2023 - Actualidad
          </p>
          <h3
            class="my-1.5 text-xl font-bold text-gray-900 dark:text-neutral-100"
          >
            Frontend Developer
          </h3>
          <p
            class="mb-2 text-base font-semibold text-blue-600 dark:text-blue-400"
          >
            Kairós DS
          </p>
          <p
            class="text-base leading-relaxed text-neutral-600 dark:text-neutral-300"
          >
            Desarrollo de frontales web para el sector laboral y académico, con
            un enfoque en la mejora de la experiencia de usuario, el rendimiento
            de las aplicaciones y accesiblidad. Participación y liderazgo de
            desarrollos estableciendo arquitecturas modernas y principios SOLID,
            implementando Gitflow y estándares de calidad.
          </p>
        </div>
      </div>
      <div
        class="experience-item translate-x-8 border-l-2 border-gray-300 pb-10 opacity-0 last:border-l-0 dark:border-neutral-600"
      >
        <div class="relative flex flex-col justify-start pl-12">
          <div
            class="absolute top-0 left-0 z-40 flex h-14 w-14 -translate-x-1/2 items-center justify-center rounded-full border-2 border-blue-200 bg-white p-1.5 shadow-md dark:border-blue-800 dark:bg-neutral-950"
          >
            <Image
              src={theCocktailLogo}
              alt="Logo The Cocktail"
              class="h-full w-full rounded-full object-cover"
            />
          </div>
          <p
            class="mb-1.5 text-xs font-semibold tracking-wider text-neutral-500 uppercase dark:text-neutral-400"
          >
            Abril 2021 - Marzo 2023
          </p>
          <h3
            class="my-1.5 text-xl font-bold text-gray-900 dark:text-neutral-100"
          >
            Frontend Developer
          </h3>
          <p
            class="mb-2 text-base font-semibold text-blue-600 dark:text-blue-400"
          >
            The Cocktail
          </p>
          <p
            class="text-base leading-relaxed text-neutral-600 dark:text-neutral-300"
          >
            Desarrollo de frontales web para sectores diversos como energía,
            sostenibilidad, sanitario y residencial. Participación y liderazgo
            de desarrollos con un enfoque en entrega continua mediante control
            de versiones.
          </p>
        </div>
      </div>
      <div
        class="experience-item translate-x-8 border-l-2 border-gray-300 pb-10 opacity-0 last:border-l-0 dark:border-neutral-600"
      >
        <div class="relative flex flex-col justify-start pl-12">
          <div
            class="absolute top-0 left-0 z-40 flex h-14 w-14 -translate-x-1/2 items-center justify-center rounded-full border-2 border-blue-200 bg-white p-1.5 shadow-md dark:border-blue-800 dark:bg-neutral-950"
          >
            <div
              class="flex h-full w-full items-center justify-center rounded-full bg-white"
            >
              <Image
                src={celestiaTTILogo}
                alt="Logo Celestia TTI"
                class="h-[90%] w-[90%] rounded-full"
              />
            </div>
          </div>
          <p
            class="mb-1.5 text-xs font-semibold tracking-wider text-neutral-500 uppercase dark:text-neutral-400"
          >
            Febrero 2019 - Marzo 2020
          </p>
          <h3
            class="my-1.5 text-xl font-bold text-gray-900 dark:text-neutral-100"
          >
            Internet of Things Engineer
          </h3>
          <p
            class="mb-2 text-base font-semibold text-blue-600 dark:text-blue-400"
          >
            Celestia TTI
          </p>
          <p
            class="text-base leading-relaxed text-neutral-600 dark:text-neutral-300"
          >
            Diseño e implementación de redes de sensores conectados, integrando
            hardware y software para captar, procesar y transmitir información
            en tiempo real. Participación en la creación de arquitecturas de
            comunicación eficientes, desarrollo de firmware, así como la
            conexión de los dispositivos con plataformas en la nube para su
            monitoreo, análisis y toma de decisiones automatizadas.
          </p>
        </div>
      </div>
      <div
        class="experience-item translate-x-8 border-l-2 border-gray-300 pb-10 opacity-0 last:border-l-0 dark:border-neutral-600"
      >
        <div class="relative flex flex-col justify-start pl-12">
          <div
            class="absolute top-0 left-0 z-40 flex h-14 w-14 -translate-x-1/2 items-center justify-center rounded-full border-2 border-blue-200 bg-white p-1.5 shadow-md dark:border-blue-800 dark:bg-neutral-950"
          >
            <Image
              src={deptLogo}
              alt="Logo DEPT®"
              class="h-full w-full rounded-full object-cover"
            />
          </div>
          <p
            class="mb-1.5 text-xs font-semibold tracking-wider text-neutral-500 uppercase dark:text-neutral-400"
          >
            Septiembre 2017 - Febrero 2018
          </p>
          <h3
            class="my-1.5 text-xl font-bold text-gray-900 dark:text-neutral-100"
          >
            iOS Mobile Developer
          </h3>
          <p
            class="mb-2 text-base font-semibold text-blue-600 dark:text-blue-400"
          >
            DEPT®
          </p>
          <p
            class="text-base leading-relaxed text-neutral-600 dark:text-neutral-300"
          >
            Proyecto de realidad aumentada orientado a la navegación en
            interiores, diseñando e implementando una experiencia inmersiva para
            guiar al usuario dentro de espacios físicos. Integración de
            tecnologías ARKit, procesamiento de sensores y técnicas de
            posicionamiento para superponer rutas e información contextual sobre
            el entorno real.
          </p>
        </div>
      </div>
    </div>
    <h2
      class="mt-8 mb-8 text-3xl font-bold sm:mt-8 lg:mt-10 dark:text-neutral-200"
    >
      Skills
    </h2>
    <div
      class="mb-8 grid grid-cols-1 gap-6 md:grid-cols-2"
      id="skills-container"
    >
      <div
        class="skill-card group translate-y-8 rounded-xl border border-gray-200 bg-white/50 p-6 opacity-0 transition-all duration-300 hover:bg-white/80 hover:shadow-lg dark:border-neutral-700/50 dark:bg-neutral-800/30 dark:hover:bg-neutral-800/50"
      >
        <div class="flex items-start gap-4">
          <div
            class="mt-2 h-3 w-3 shrink-0 rounded-full bg-linear-to-r from-blue-500 to-purple-500"
          >
          </div>
          <div class="flex-1">
            <h3
              class="mb-3 text-xl font-bold text-gray-900 transition-colors duration-200 group-hover:text-blue-600 dark:text-neutral-100 dark:group-hover:text-blue-400"
            >
              Desarrollo Web Nativo
            </h3>
            <p
              class="text-base leading-relaxed text-gray-600 dark:text-neutral-300"
            >
              Aplicaciones web nativas de alta calidad y rendimiento
            </p>
          </div>
        </div>
      </div>

      <div
        class="skill-card group translate-y-8 rounded-xl border border-gray-200 bg-white/50 p-6 opacity-0 transition-all duration-300 hover:bg-white/80 hover:shadow-lg dark:border-neutral-700/50 dark:bg-neutral-800/30 dark:hover:bg-neutral-800/50"
      >
        <div class="flex items-start gap-4">
          <div
            class="mt-2 h-3 w-3 shrink-0 rounded-full bg-linear-to-r from-blue-500 to-purple-500"
          >
          </div>
          <div class="flex-1">
            <h3
              class="mb-3 text-xl font-bold text-gray-900 transition-colors duration-200 group-hover:text-blue-600 dark:text-neutral-100 dark:group-hover:text-blue-400"
            >
              Frameworks
            </h3>
            <p
              class="text-base leading-relaxed text-gray-600 dark:text-neutral-300"
            >
              Desarrollo web usando frameworks como Angular, React y Lit
            </p>
          </div>
        </div>
      </div>

      <div
        class="skill-card group translate-y-8 rounded-xl border border-gray-200 bg-white/50 p-6 opacity-0 transition-all duration-300 hover:bg-white/80 hover:shadow-lg dark:border-neutral-700/50 dark:bg-neutral-800/30 dark:hover:bg-neutral-800/50"
      >
        <div class="flex items-start gap-4">
          <div
            class="mt-2 h-3 w-3 shrink-0 rounded-full bg-linear-to-r from-blue-500 to-purple-500"
          >
          </div>
          <div class="flex-1">
            <h3
              class="mb-3 text-xl font-bold text-gray-900 transition-colors duration-200 group-hover:text-blue-600 dark:text-neutral-100 dark:group-hover:text-blue-400"
            >
              Arquitectura y Calidad de Código
            </h3>
            <p
              class="text-base leading-relaxed text-gray-600 dark:text-neutral-300"
            >
              Código escalable y mantenible aplicando Clean Architecture y
              principios SOLID
            </p>
          </div>
        </div>
      </div>

      <div
        class="skill-card group translate-y-8 rounded-xl border border-gray-200 bg-white/50 p-6 opacity-0 transition-all duration-300 hover:bg-white/80 hover:shadow-lg dark:border-neutral-700/50 dark:bg-neutral-800/30 dark:hover:bg-neutral-800/50"
      >
        <div class="flex items-start gap-4">
          <div
            class="mt-2 h-3 w-3 shrink-0 rounded-full bg-linear-to-r from-blue-500 to-purple-500"
          >
          </div>
          <div class="flex-1">
            <h3
              class="mb-3 text-xl font-bold text-gray-900 transition-colors duration-200 group-hover:text-blue-600 dark:text-neutral-100 dark:group-hover:text-blue-400"
            >
              Testing
            </h3>
            <p
              class="text-base leading-relaxed text-gray-600 dark:text-neutral-300"
            >
              Pruebas automatizadas unitarias, de integración y end-to-end para
              garantizar la fiabilidad
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const skillsObserver = new IntersectionObserver(
      function (entries) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            const container = entry.target;
            const cards = container.querySelectorAll(".skill-card");

            cards.forEach(function (card, index) {
              setTimeout(function () {
                card.style.opacity = "1";
                card.style.transform = "translateY(0)";
              }, index * 150);
            });

            skillsObserver.unobserve(container);
          }
        });
      },
      { threshold: 0.1 },
    );

    const experienceObserver = new IntersectionObserver(
      function (entries) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            const container = entry.target;
            const items = container.querySelectorAll(".experience-item");

            items.forEach(function (item, index) {
              setTimeout(function () {
                console.log(item, index);
                item.style.opacity = "1";
                item.style.transform = "translateX(0)";
              }, index * 200);
            });

            experienceObserver.unobserve(container);
          }
        });
      },
      { threshold: 0.1 },
    );

    const skillsContainer = document.getElementById("skills-container");
    const experienceContainer = document.getElementById("experience-container");

    if (skillsContainer) {
      skillsObserver.observe(skillsContainer);
    }

    if (experienceContainer) {
      experienceObserver.observe(experienceContainer);
    }
  });
</script>
